@model EMS.Application.DTOs.EmployeeTimelogDto

@{
    ViewData["Title"] = "Employee Attendance";
}

<div class="text-center">
    <h1>@Model.Employee.FullName: @Model.Employee.Position</h1>
</div>

<div id="chart"></div>

<div class="text-center">
    <h2><strong>Attendance Percentage: @Model.Employee.AttendancePercentage.ToString("0.00")%</strong></h2>
</div>

<div class="text-center">
    <p><strong>Total Working Hours: @Model.Employee.TotalWorkingHours Hrs</p>
</div>

<h3>My Time Logs</h3>
<div id="dataGridEmployee"></div>


<script>
    $(function () {
        // Doughnut chart data transformation and visualization
        var totalDays = @Model.Employee.PresentDaysCount + @Model.Employee.AbscentDaysCount;

        var presentRatio = (@Model.Employee.PresentDaysCount / totalDays);
        var absentRatio = (@Model.Employee.AbscentDaysCount / totalDays);

        var attendanceData = [
            { category: `Present: ${@Model.Employee.PresentDaysCount}`, value: presentRatio },
            { category: `Absent: ${@Model.Employee.AbscentDaysCount}`, value: absentRatio }
        ];
        console.log(attendanceData);

        $("#chart").dxPieChart({
            dataSource: attendanceData,
            series: {
                argumentField: "category",
                valueField: "value",
                type: "doughnut",
                label: {
                    visible: true,
                    format: "percent",
                    font: {
                        size: 21,
                        weight: "bold"
                    },
                    connector: {
                        visible: true
                    }
                }
            },
            legend: {
                visible: true,
                position: "bottom"
            }
        });


        var timeLogs = @Html.Raw(Json.Serialize(Model.TimeLogs));

            // Initialize DevExtreme DataGrid
            $("#dataGridEmployee").dxDataGrid({
                dataSource: timeLogs,
                columns: [
                    { dataField: "ClockIn", caption: "Clock In", format: "yyyy-MM-dd HH:mm:ss" },
                    { dataField: "ClockOut", caption: "Clock Out", format: "yyyy-MM-dd HH:mm:ss" },
                    { dataField: "WorkingHoursPerDay", caption: "Total Hours Worked", format: "#0.00" }
                ],
                paging: {
                    enabled: true,
                    pageSize: 10
                },
                filterRow: {
                    visible: true
                },
                headerFilter: {
                    visible: true
                },
                showBorders: true,
                hoverStateEnabled: true,
                selection: {
                    mode: "single"
                }
            });
    });
</script>